<nav class="metal-menu">
    <div class="metal-item">
        <a href="products.html">Shop All</a>
    </div>
    <div class="metal-item">
        <a href="products.html?metal=gold">Gold</a>
        <div class="dropdown">
            <a href="products.html?metal=gold&type=bars">Bars</a>
            <a href="products.html?metal=gold&type=coins">Coins</a>
            <a href="products.html?metal=gold&type=rounds">Rounds</a>
        </div>
    </div>
    <div class="metal-item">
        <a href="products.html?metal=silver">Silver</a>
        <div class="dropdown">
            <a href="products.html?metal=silver&type=bars">Bars</a>
            <a href="products.html?metal=silver&type=coins">Coins</a>
            <a href="products.html?metal=silver&type=rounds">Rounds</a>
        </div>
    </div>
    <div class="metal-item">
        <a href="products.html?metal=platinum">Platinum</a>
        <div class="dropdown">
            <a href="products.html?metal=platinum&type=bars">Bars</a>
            <a href="products.html?metal=platinum&type=coins">Coins</a>
            <a href="products.html?metal=platinum&type=rounds">Rounds</a>
        </div>
    </div>
    <div class="metal-item">
        <a href="products.html?metal=palladium">Palladium</a>
        <div class="dropdown">
            <a href="products.html?metal=palladium&type=bars">Bars</a>
            <a href="products.html?metal=palladium&type=coins">Coins</a>
            <a href="products.html?metal=palladium&type=rounds">Rounds</a>
        </div>
    </div>
</nav>
