TURSO_DATABASE_URL=libsql://your-database.turso.io
TURSO_AUTH_TOKEN=
JWT_SECRET=
ADMIN_EMAILS=admin@example.com
EMAIL_USER=
EMAIL_PASS=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RENDER_EXTERNAL_URL=
NODE_ENV=development
PORT=3000
