TURSO_DATABASE_URL=libsql://atlantic-metals-hcmadala.aws-us-east-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3Nzg0OTA5MjgsImlkIjoiMDE5ZTE2NGUtYTUwMS03N2JkLTljN2MtYjY0YTE2ZTkyOWI5IiwicmlkIjoiZWQ2MGZhODAtOTNkMS00YWQyLTg0MGMtNDc0MjY1MjQzZDZhIn0.6bVe7XH5nB_W1ob45AUEs2OT3Ui2wl39Niv3gnTcgYbN7V1n9LZjv1zzpwCn1iv0HSlUe_dFuIVCs3KzBV9cCA
JWT_SECRET=
ADMIN_EMAILS=haradeepchowdarymadala@gmail.com
EMAIL_USER=
EMAIL_PASS=vijo hnyd jaju fwiv
CLOUDINARY_CLOUD_NAME=dhfflph48
CLOUDINARY_API_KEY=262637948426511
CLOUDINARY_API_SECRET=BaPtPdjAM2iF6HxDFNhUKQNy6-4
RENDER_EXTERNAL_URL=https://atlantic-metals.onrender.com
